@import "./developer";
@import "./music";
@import "../../theme/colors";
@import "../tiles/person";

.project-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    border-bottom: 2px solid #80808082;
    transition: background-color 0.2s, color 0.2s;



    .project-description {}

    .project-title {
        margin-bottom: 1em;
    }

    .project-content {
        margin-bottom: 1em;
    }

    .project-child {
        display: flex;
        align-items: center;
    }


}

@media (max-width: 756px) {
    .project-container {
        flex-direction: column;
    }

}

.container {
    padding: 1em;

    .child {
        padding: 1em;
    }
}

.home-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

    .child {
        z-index: 7;
    }
}

.person-container {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 6em;
    height: 6em;
}